body{
    background-image: url("images/firstwebpic.jpg");
    background-size: 1300px;
    background-repeat: no-repeat;
    background-size: auto;
}
.abc{
    color: white;
}
.ab{
    color: white;
}
